version: "3.9"

services:
  database:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 'admin@2025'
      MYSQL_DATABASE: project
      MYSQL_USER: admin
      MYSQL_PASSWORD: 'admin@2025'
    command: >
      mysqld --default-authentication-plugin=mysql_native_password --lower-case-table-names=2 
    ports:
      - "3306:3306"   
    volumes:
      - ./mysql/data:/var/lib/mysql
    networks:
      - project
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p$${MYSQL_ROOT_PASSWORD} --silent"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 40s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
      PMA_ARBITRARY: "1"
      UPLOAD_LIMIT: 256M
      SESSION_SAVE_PATH: /sessions
    ports:
      - "8080:80"     
    volumes:
      - ./phpmyadmin/sessions:/sessions
      - ./phpmyadmin/uploads:/var/www/html/upload
      - ./phpmyadmin/saves:/var/www/html/save
    networks:
      - project

  api:
    build: ./api
    container_name: api
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "5001:5000"
    environment:
      - DB_HOST=database
      - DB_USER=admin
      - DB_PASSWORD=admin@2025
      - DB_NAME=project
    networks:
      - project
    mem_limit: 300M    
    cpus: 4
    #mem_limit: 100M       
    #cpu_shares: 5

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "8081:80"
    networks:
      - project
    mem_limit: 30M     
    cpu_shares: 3     

  lpar2rrd-docker-agent:
    image: xorux/lpar2rrd-docker-agent
    container_name: lpar2rrd-docker-agent
    hostname: "vulnerable-server"
    restart: always 
    environment:
      - XORMON=167.71.118.73
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - project

networks:
  project:
    driver: bridge
