services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    init: true
    restart: unless-stopped
    ulimits:
      core: 0
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "admin@2025"
      TZ: "Africa/Accra"
    volumes:
      - ./data:/var/lib/postgresql/data
    command:
      - postgres
      - -c
      - max_connections=200
      - -c
      - shared_buffers=512MB
    networks:
      - lpar2rrdnet

  xormon:
    image: xorux/xormon-ng:latest
    container_name: xormon-ng
    init: true
    restart: unless-stopped
    ulimits:
      core: 0
    depends_on:
      - timescaledb
    environment:
      APP_PORT: "8443"
      TZ: "Africa/Accra"
      DB_HOST: "timescaledb"
      DB_PORT: "5432"
      DB_USERNAME: "postgres"
      DB_PASSWORD: "admin@2025"
      DB_DATABASE: "xormon"
      APP_DEBUG: "false"
      APP_SECRET: "projectsecretkey"
    volumes:
      - ./files:/app/server-nest/files:Z
    ports:
      - "8443:8443"
      - "8162:8162"
    networks:
      - lpar2rrdnet

networks:
  lpar2rrdnet:
    driver: bridge
