services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    init: true
    restart: unless-stopped
    ulimits:
      core: 0
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "admin@2025"
      TZ: "Africa/Accra"
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - lpar2rrdnet

  xormon:
    image: xorux/xormon-ng:latest
    container_name: xormon-ng
    init: true
    restart: unless-stopped
    ulimits:
      core: 0
    depends_on:
      - timescaledb
    environment:
      APP_PORT: "8443"
      TZ: "Africa/Accra"
      DB_HOST: "timescaledb"
      DB_PORT: "5432"
      DB_USERNAME: "postgres"
      DB_PASSWORD: "admin@2025"
      DB_DATABASE: "xormon"
      APP_DEBUG: "false"
      APP_SECRET: "projectsecretkey"
    volumes:
      - ./files:/app/server-nest/files:Z
    ports:
      - "8443:8443"
      - "8162:8162"
    networks:
      - lpar2rrdnet

  lpar2rrd-docker-agent:
    image: xorux/lpar2rrd-docker-agent
    container_name: lpar2rrd-docker-agent
    init: true                      
    hostname: "${HOSTNAME}"          
    restart: always
    environment:
      - XORMON=167.71.118.73
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - lpar2rrdnet

networks:
  lpar2rrdnet:
    driver: bridge
