global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']


  # NEW JOB: Scrape the Docker Desktop daemon directly
  - job_name: 'docker-daemon'
    static_configs:
      - targets: ['host.docker.internal:9323'] # Special address for Docker Desktop