# Alias file
#
# Read this: http://www.lpar2rrd.com/aliasing.htm
#
# you can place there aliases for LPARs or WPARs names
# aliases will be placed inside the square brackets in the GUI menu
#
# Syntax: [LPAR|WPAR]:original name:alias
#
# when your LPAR/WPAR names contain colons (":") then prefix them by a backslash 
# alias name might contain colons, you do not have to prefix them by anything
#
# After any change here run this to apply it under lpar2rrd user:
# cd /home/lpar2rrd/lpar2rrd
# ./load.sh html
#
# Examples (uncomment lines to let them process):
#LPAR:SRV21WPAR18:oracle dev
#WPAR:SRV10LPAR88:oracle
#LPAR:SRV21LPAR33 \:colon lpar name example:colon alias
#
# VMware
#VM:VC01_VM01:oracle server alias
#
# You can alias Linux X86 and Solaris servers visible under Unmanaged item in the GUI
#LPAR:vm-linux01_server:my Linux01 alias
#LPAR:vm-linux02_server:my Linux02 alias
#LPAR:vm-solaris_server:my Solaris alias


