# You can exclude VM or servers from heatmap
# all liste LPARs/VMs are excluded regardless where theya are running (what server/ESXi)
# Each rule contais single name
# You can use as many rules as you want
#
 
# Examples
# for applying it uncomment these lines (delete "#" on the first line possition)

# IBM Power System
#LPAR:aix1
#LPAR:aix6
#CPUPOOL:pool_name_example


# VMware
#VM:vm_name1
#VM:vm_name2
#ESXI:ESXi_hostname1
#ESXI:192.168.1.1

